<%- include('./partials/headNav') %>
<div class="container">
  <!--EMPRESAS-->
    <div class="empresas">
        <div class="headEmpresa">
            <h4>GESTION DE EMPRESA</h4>
            <form >
                <div class="formEmpresa">
                    <div class="rowlabelinput">
                    <div class="labelinput">                    
                        <label for="">Razon Social</label>                    
                        <input type="text" required id="razonsocial" name="razonsocial" >
                    </div>
                    <div class="labelinput">                    
                        <label for="">CIF</label>                    
                        <input type="text" required id="CIF" name="CIF" >                  
                    </div> 
                    <div class="labelinput">
                        <label for="">Grupo Empresarial</label>
                        <input type="text" id="grupoempresarial" required name="grupoempresarial" >
                    </div>             
                    </div> 

                    <div class="rowlabelinput">            
                    <div class="labelinput">
                        <label for="">Codigo CNAE</label>
                        <input type="text" required id="CNAE" name="CNAE" >
                    </div>
                    <div class="labelinput">
                        <label for="">Descripcion CNAE</label>
                        <input type="text" id="descripcionCNAE" name="descripcionCNAE" >
                    </div>
                    <div class="labelinput">
                        <label for="">Ciudad</label>
                        <input type="text" id="ciudad" name="ciudad" >
                    </div>
                    </div>

                    <div class="rowlabelinput">
                    <div class="labelinput">
                        <label for="">Codigo Postal</label>
                        <input type="number" id="codigopostal" required name="codigopostal" >
                    </div>
                    <div class="labelinput">
                        <label for="">Direccion Empresa</label>
                        <input type="text" id="direccionempresa" required name="direccionempresa" >
                    </div>
                    <div class="labelinput">
                        <label for="">Encargado</label>
                        <input type="text" id="encargado" required name="encargado" >
                    </div>
                              
                    </div>

                    <div class="rowlabelinput">
                        <div class="labelinput">
                            <label for="">Telefono</label>
                            <input type="number" id="telefonoempresa" required name="telefonoempresa" >
                        </div> 
                        <div class="labelinput">
                            <label for="">Email Empresa</label>
                            <input type="text" id="emailempresa" required name="emailempresa" >
                        </div>      
                        <div class="labelinput">
                            <label for="">Nº Trabajadores</label>
                            <input type="number" id="ntrabajadoresempresa" required name="ntrabajadoresempresa" >
                        </div>     
                                 
                    </div>
                </div>
                <div class="btnInput">
                    <label id="message" for=""></label>
                    <div class="button">
                        <input type="button" name="registrarEmpresa" id="registrarEmpresa" value="Registrar">
                        <input type="button" name="cancelarEmpresa" id="cancelarEmpresa" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
        <div class="listEmpresa">
            <div class="headLista">
                <h4>LISTA DE EMPRESA</h4>
                <input type="text" name="buscarempresa" id="buscarempresa" placeholder="Escriba la empresa">
                
            </div>
            <div class="tablaEmpresaScroll">
            <table id="tablaEmpresa">
                <thead>
                    <tr>
                        <th>CIF</th>
                        <th>Razon Social</th>
                        <th>Grupo Empresarial</th>
                        <th>CNAE</th>
                        <th>Descripcion CNAE</th>
                        <th>Cant. Tr.</th>
                        <th>Direccion Empresa</th>
                        <th>Encargado Empresa</th>
                        <th>Email Empresa</th>
                        <th>Telefono</th>
                        <th>Ciudad</th>
                        <th>C.P.</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tbody">                  
                
                </tbody>
            </table>
        </div>
        </div>
        <label id="updatelblEmpresa" ></label>

    </div>
  <!--FIN EMPRESAS-->
  <!--CENTROS-->
    <div id="listaCentros" class="containerCentros">
        <div class="headEmpresa">
            <h4>GESTION DE CENTROS DE EMPRESA</h4>
            <form ><!--,,,,,,,-->
                <div class="formEmpresa">
                    <div class="rowlabelinput">
                        <div class="labelinput">                    
                            <label for="">Razon Social</label>                    
                            <input type="text" disabled id="razonsocialCentro" name="razonsocialCentro" >
                        </div>
                        <div class="labelinput">                    
                            <label for="">CIF</label>                    
                            <input type="text"  disabled id="CIFCentro" name="CIFCentro" >                  
                        </div>  
                        <div class="labelinput">
                            <label for="nombreCentro">Nombre del Centro</label>
                            <input type="text" id="nombreCentro" name="nombreCentro" >
                        </div>                         
                    </div> 

                    <div class="rowlabelinput">                     
                        <div class="labelinput">
                            <label for="encargadoCentro">Encargado del Centro</label>
                            <input type="text" id="encargadoCentro" name="encargadoCentro" >
                        </div>
                        <div class="labelinput">
                            <label for="ciudadCentro">Ciudad</label>
                            <input type="text" id="ciudadCentro" name="ciudadCentro" >
                        </div>
                        <div class="labelinput">
                            <label for="telefonoCentro">Telefono</label>
                            <input type="number" id="telefonoCentro" name="telefonoCentro" >
                        </div>
                    </div>

                    <div class="rowlabelinput">
                        <div class="labelinput">
                            <label for="codigopostalCentro">Codigo Postal</label>
                            <input type="number" id="codigopostalCentro" required name="codigopostalCentro" >
                        </div>
                        <div class="labelinput">
                            <label for="direccionCentro">Direccion Centro</label>
                            <input type="text" id="direccionCentro" required name="direccionCentro" >
                        </div>                     
                    </div>

                    <div class="rowlabelinput">                       
                        <div class="labelinput">
                            <label for="emailCentro">Email Centro</label>
                            <input type="text" id="emailCentro" required name="emailCentro" >
                        </div>      
                        <div class="labelinput">
                            <label for="ntrabajadorCentro">Nº Trabajadores</label>
                            <input type="number" id="ntrabajadorCentro" required name="ntrabajadorCentro" >
                        </div>                                
                    </div>
                </div>
                <div class="btnInput">
                    <label id="message" for=""></label>
                    <div class="button">
                        <input type="button" name="registrarCentro" id="registrarCentro" value="Registrar">
                        <input type="button" name="cancelarCentro" id="cancelarCentro" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>
  <!--FIN CENTROS-->
  <!--USUARIOS-->
  <!--FIN USUARIOS-->
</div>
