
.container{
    width: 95%;
    height: 87vh;    
    margin: 0 auto;
    position: relative;
}
.empresas{
    width: 100%;
    height: 100%;    
    border-radius: 5px;
}
.headEmpresa{
    background:#353535;
    border-radius: 5px;
    height:auto;
    width: 100%;
    text-align: center;  
    padding: 0.5rem 0; 
    
}
.headEmpresa h4{
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: 5px 0 15px rgba(250, 248, 248, 0.2); 
    color: white;
}
.formEmpresa{
    display: flex;
    width: 98%;
    margin: 0 auto;   
   
}
.rowlabelinput{
   width: 25%;
  
}

.labelinput{
    padding-bottom:3px ;    
    text-align: start;    
    display: flex;   
    align-items: center;  
    color: white;
}
.labelinput label{
    display: block;   
    width: 36%;
    text-shadow: 5px 0 15px rgba(250, 248, 248, 0.2);    
}
#descripcionCNAE{
    background: white;
    color: black;
}

.centroEmpresaCentral{
    width: 50%;
    
    
}
.centroEmpresaCentralArriba{
    width: 100%;    
    display: flex;
    height: 30%;
   
}
.centroEmpresaCentralAbajo{    
    height: 70%;
    width: 100%;
    display: flex;
    padding-top: 3px;
}
.rowlabelinputAbajo{
    width: 50%;
   
 }
.lblcodigoCNAE{
    padding-top: 3px;
    padding-right: 15px;
    color: white;
}
.divCNAE{
    width: 81%;
    padding-left: 19px;
    border-radius: 5px;
}
.labelinput input{
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    display: block;    
}
.btnInput{
    width: 98%;
    text-align: end;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;   
}
.button{
    margin: auto 0;
   
}
.alert{
    background: red;
    color:white;
    font-size: 1.1rem;
    text-shadow: 5px 0 15px rgba(255, 255, 255, 0.1);  
}
.confirm{
    color:white;
    text-shadow: 5px 0 15px rgba(27, 38, 122, 1);  
    font-size: 1.1rem;
}

.confirmlbl{
    color:white;
    background:#4057FB;
    font-size: 1.3rem;
    position: absolute;    
    left: 50%;
    top: 50%;
    text-align: center;
    width:400px;
    transform: translate(-50%, -50%);
    border-radius: 10px 0 10px 0;
}
.alertlbl{
    color:white;
    background:#e70606;
    font-size: 1.3rem;
    position: absolute;
    width: 400px;   
    left:  50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  padding: 2rem;
}
.btnInput input{
    padding: 6px 15px;
    background: white;
    outline: none;
    border-radius: 7px 0 7px 0;
    border: none;
    font-size: 1rem;
}
.btncentro{
    text-align: center;
}
.celdaizq{
    text-align: end;
    padding-right: 5px;
}
.btnInput input:hover{
    background:#4057FB;
    color: white;
    outline: white;
    border-color: 1px solid white;
}
.blanco{
    background: #e7e5e5;
}
#CNAE{
   width: 100%;
}
#CIF{
    width: 100px;
}
#CIFCentro{
    width: 100px;
}
#CIFTrabajador{
    width: 100px;
}
#ntrabajadoresempresa{
    width: 60px;
}
#codigopostal{
    width: 80px;
}
#telefonoempresa{
    width: 120px;
}
#ntrabajadorCentro{
    width: 60px;
}
#codigopostalCentro{
    width: 80px;
}
#telefonoCentro{
    width: 120px;
}

/*LISTA DE EMPRESA*/
.listEmpresa{
    margin-top: 0.2rem;
    border-radius: 5px;
    height:90%;
    width: 100%;        
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}
.headLista{
    background: rgb(192, 190, 190);
    border-radius: 5px;  
    height: 10%;

}
.headLista input{
    padding: 0.2rem;
    margin: 0.5rem;
    width:  50%;
    min-width: 50%;
    outline: none;    
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
}
select{    
    padding: 0.1rem;
    margin: 0rem;
    width:  62%;
    min-width: 62%;
    outline: none;    
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
}
.headLista h4{    
    margin-bottom: 0.5rem 0;
    text-shadow: 5px 0 15px rgba(250, 248, 248, 1); 
    color: rgb(0, 0, 0); 
    text-align: center;     
}
#tablaEmpresa{
   border: 1px solid rgb(192, 190, 190);
   border-radius: 5px;
   width: 100%;
}

.tablaEmpresaScroll{
    overflow-x: scroll;
    width: 100%;
    height: 100%;
}
#tablaEmpresa thead{
    background: #131313;
    color:white;
    border-color: 1px solid white;    
}
#tablaEmpresa td{
    border: 1px solid rgb(192, 190, 190);
    background: white;
}
#tbody button{
    cursor: pointer;
}
td{
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    padding: 0 5px;
}
 td:focus{
    background: #0d0d0e;
    color: #4057FB;
    transform: translateY(10px) translateX(20px) rotateX(360deg);   
    font-size: 1.5rem;
}
#nifnie{
    width: 40%;
}
#telefonoTrabajador{
    width: 40%;
}
.homework{
    color: rgb(226, 110, 33);
   
}
.personapron{
    color:rgb(42, 126, 4);
}
.deletes{
    color: #e70606;
}
.gridview{
    color: rgb(76, 116, 204);
}
.tuerca{
    color:rgb(18, 80, 3)
}
#tablaEmpresa td:last-child{
    width: 80px;
    background: #F0F0F0;
}
#tablaEmpresa td:last-child button{
  border: none;
}
.containerCentros{    
    display: none;    
}
.containerCentrosSi{
    background: rgb(255, 255, 255);
    position: absolute;
    top: 57%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 5px;
 } 
.listaCentros{
    background: rgb(192, 190, 190);
    border-radius: 5px;
    margin-top: 1px;
}
.listaCentros h4{
    margin-bottom: 0.5rem 0;
    text-shadow: 5px 0 15px rgba(250, 248, 248, 1); 
    color: rgb(0, 0, 0); 
    text-align: center;
}
.listaCentro{
    overflow-x: scroll;
    width: 100%;
    height: 100vh;     
}

#tablaCentro{
    width: 100%;    
    background: white;  
}

#tablaTrabajador{
    width: 100%;    
    background: white;  
}

#tablaCentro thead{
    background: #131313;
    color:white;
    border-color: 1px solid white;  
  
}

#tablaTrabajador thead{
    background: #131313;
    color:white;
    border-color: 1px solid white;    
}

#tablaCentro td{
    border: 1px solid rgb(192, 190, 190);
    background: white;
    padding: 0;
    padding-left: 5px;
  
}
#tablaTrabajador td{
    border: 1px solid rgb(192, 190, 190);
    background: white;   
   
}
#tablaCentro td:last-child{
    width: 50px;
    background: #F0F0F0;
}
#tablaCentro td:last-child button{
  border: none;
}
#tablaTrabajador td:last-child{
    width: 80px;
    background: #F0F0F0;
}
#tablaTrabajador td:last-child button{
  border: none;
}
#tbodyC button{
    cursor: pointer;
}
#tbodyT button{
    cursor: pointer;
}

.listatrabajador{  
    align-items: start;
    background: #d6d5d5;   
}
.listatrabajador:hover{
    color: #4057FB;
    cursor: pointer;
}
.centrar{
    text-align: center;
}
.izquierda{
    text-align: start;
}
.derecha{
    text-align: end;
}
.containerCentroTrabajadores{
    background:transparent;
    position: absolute;
    width:100%;
    height: 100%;  
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;    
   
    
}

.containerCentroTrabajadoresMostrar{
    display: block;
}
.containerMostrarCNAE{   
     display: none;    
    
}
.containerMostrarCNAEMostras{
    position: absolute;
    width:100%;
    height: 100%;     
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
/*un nuevo comentario*/
.centrolistaTrabajadores{
    background: #1d1d1d; 
    width: 55%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px 0 20px 0;
    text-align: end;
    color: white;
    padding: 5px;
 
   
}
.listaCentroTrabajadores{
    border-radius: 20 0 20px 0;
    height: 87%;
    width: 99.7%;
    overflow-y: scroll;
    background: white;
    padding-bottom: 1rem;
}
#btnCerrarCentroTrabajador{
    margin-top: 15px 10px 15px 10px;
    background: white;
    color: rgb(51, 50, 50);
    padding: 4px 10px;   
    width: 120px;
    border-radius: 8px 0 8px 0;    
}
#tbodyCT{
    border-radius: 20px 0 20px 0;
    background: white;
}
#tbodyCT td{
    padding-right: 5px;
    padding-left: 5px;
   color: black;
   background: white; 
   
}
/**/
.containerCambioCentroTrabajadores{
    background:transparent;
    position: absolute;
    width:100%;
    height: 100%;  
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;    
}
.containerCambioCentroTrabajadoresMostrar{
    display: block;
}
/*un nuevo comentario*/
.centroCambiolistaTrabajadores{
    background: #131313;
    width: 30%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px 0 10px 0;
    text-align: end;
    border: 1px solid black;
    padding: 10px;
    color: white   ;
}
#btnCerrarCambioCentroTrabajador{
    margin-top: 15px 10px 15px 10px;   
    color: black;
    padding: 4px 10px;   
    width: 120px;
    border-radius: 8px 0 8px 0;   
   
}
.datosCambioTrabajador{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
   
}
.mostrarCNAE{
    background:#353535;
    width: 40%;
    height: 25%;
    border-radius: 20px 0 20px 0;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.datosCambioTrabajador input{
    padding: 0.3rem;
    margin: 0.5rem;
    width:  98%;   
    outline: none;    
    border: none;
    border-radius: 5px;
    background: white;
}
.datosCambioTrabajador select{    
    padding: 0.3rem;
    margin: 0.5rem;
    width:  100%;   
    outline: none;    
    border: none;
    border-radius: 5px;    
}
#Cambiarbutton{
    display: flex;
    gap: 0.5rem;
    
}
#Cambiarbutton button{
   
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 5px;
    border: none;
    background: white;
    border-radius: 10px 0px 10px 0px;
}
#Cambiarbutton button:hover{
    background:#4057FB;
    color: white;
    outline: white;
    border-color: 1px solid white;
}
.btnCambioCentroTrabajador{
    display: flex;
    justify-content:space-between;
    align-items: center;    
}
.inputCambioEmpresa{   
    padding: 0.2rem 0;
    margin: 0.5rem 0;
    width:  50%;
    min-width: 50%;
    outline: none;    
    border: none;
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-items: center;          
}
.centroActual{
    padding-right: 10px;
}

#CNEAEActual{
    width: 78%;
    margin-left: 8px;
    background: white;
    color: black;
    border-radius: 5px;
}

#CambioCNAE{
    width:80%;
    margin-left: 3px;
}

#btnCambioEmpresa{   
    display: flex;
    align-items: center;
    justify-content: space-between;
}